// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image-collection{
    margin: 0 20px 40px;
}
.image-area{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    width: 1400px;
    margin: auto;
    margin-bottom: 50px;
    
}
.image-details-collection{
    display: flex;
    justify-content: space-around;
    .image-tag-area{
        min-width: 600px;
    }
    .image-details{
        font-size: 1.7rem;
        margin-top: 80px;
        
    }
    .image-creator{
        font-size: 1.7rem;
    }
    .comment-area{
        width: 600px;
        min-height: 200px;
        border: silver 1px solid;
        border-radius: 5px;
        margin-top: 10px;
        padding: 5px;
    }
}
.return-btn{
    text-align: center;
    margin: 50px 0;
}
.image{
    border: silver solid 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 310px;
    height: 310px;
    
}
.image-main{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.comment{
    height: 30px;
}
.text-field{
    border: #aaa 2px solid;
    border-radius: 5px;
    width: 800px;
    height: 300px;
    margin-bottom: 30px;
    outline: none;
    font-size: 1.25rem;
}
.text-field:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.image-field-message{
    color: #aaa;
}
