// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image-collection{
    margin: 0 20px 40px;
}
.image-area{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    width: 1400px;
    margin: auto;
    margin-bottom: 50px;
}
.image{
    border: silver solid 5px;
    margin-bottom: 20px;
}
.comment{
    height: 50px;
}
