<p>こんにちは！ <%= @resource.email %>さん</p>

<p>しろくまCanvas運営事務局です。</p>

<p>パスワード再設定のメールを送信しました。以下のリンクをクリックしてください</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<p>このメールに心当たりがない場合は、すぐに破棄してください。</p>

